/*.body-wrapper {
	background: dimgray url('bw2.jpg') no-repeat fixed center;
	background-size: cover;
}*/
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  font-size: 16px;
  font-family: 'quicksandregular', sans-serif;
}
.transparent-white {
    background: rgb(255, 255, 255) transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(255, 255, 255, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.transparent-black {
    background: rgb(0, 0, 0) transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
ul {
  list-style: none;
  padding-left: 0px;
}

h1, h2 {
  font-family: 'Krona One', sans-serif;
}
.navbar-fixed-top {
  background-color: white;
}
.menu {
  padding: 0px;
  margin-top: 5px;
}
.menu li {
  padding: 4px 0px;
  margin: 1px;
  /*border: 1px solid dimgray;*/
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);*/
  background-color: rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
.menu li:hover, .menu .active {
  background-color: rgba(9, 60, 145, .8);
  color: white;
}
.logo1 span {
  margin-top: 5px;
  color: #0F3F8F;
  border-bottom: 3px solid #D71718;
  font-family: 'Krona One', sans-serif;
  font-size: 32px;
}
.logo2 {
  padding-top: 4px;
  padding-left: 3px;
  margin-bottom: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-family: 'Krona One', sans-serif;
  font-size: 12px;
  letter-spacing: 5px;
}
.billboard {
  /*background-image: url("../img/billboard.png");*/
  background: url("../img/billboard.png") no-repeat center center; 
  min-height: 200px;
}
.headline {
  padding: 15px 70px 15px 15px;
  color: white;
  /*text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);*/
  margin-top: 250px;
  background: rgba(0, 0, 0, 0.4);
}
.header {
  background-color: #0F3F8F;
  color: white;
}
.page {
  margin-top: 70px;
}
.section {
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: 4px solid #0F3F8F;
}
.section h4 {
  color: #D71718;
}
.testimonial:before {
  color: #ccc;
  content: open-quote;
  font-family:"Times New Roman", Times, serif !important;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.office {
  border-radius: 8px;
  background-color: rgba(9, 60, 145, .3);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.office:hover {
  background-color: rgba(9, 60, 145, 1);
  color: white;
}
.office img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.office h5 {
  margin: 5px 0px;
}
.address {
  font-size: 14px;
}

/***** team members ******/
.team-member {
  border-radius: 8px;
  background-color: rgba(9, 60, 145, .3);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.team-member:hover {
  background-color: rgba(9, 60, 145, 1);
  color: white;
}
.team-member img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.team-member h5 {
  margin: 5px 0px;
}
.mugshot {
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
}
.mugshot img {
  border-radius: 24px;
}
.mugshot .linkedin img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-width: 40px;
}






/* Footer *******************************************************/
.footer {
  background-color: #0F3F8F;
  color: lightgray;
  padding-top: 15px;
  width: 100%;
}
.footer a {
  color: white;
}
#body-content-wrapper {
  padding-bottom: 15px;
}
.footer .social-icons img {
  width: 46px;
  margin: 6px 3px;
}
.footer .social-icons img:hover {
  border: 2px solid white;
  border-radius: 12px;
}
.footer button {
  margin-top: 6px;
  margin-bottom: 6px;
}
.footer .credit {
  margin-bottom: 10px;
}
