//Ostrich, oswald, porter-sans-inline-block, quicksand-regular, blackout-midnight
@color-blue: #003879;
@color-white: white;
@color-light-blue: #88B3D1;
@color-polo-blue: #B2C2D6;
@color-light-polo-blue: #D6E3EB;
@color-other-blue: #95A4B6;
@color-red: #B31213;
.test-1 { font-size: 20px; background-color: @color-blue; }
.test-2 { font-size: 20px; background-color: @color-light-blue; }
.test-3 { font-size: 20px; background-color: @color-polo-blue; }
.test-4 { font-size: 20px; background-color: @color-light-polo-blue; }
.test-5 { font-size: 20px; background-color: @color-other-blue; }
.test-6 { font-size: 20px; background-color: @color-red; }

@import url(http://fonts.googleapis.com/css?family=Bitter);
@font-face {
    font-family: 'quicksand-regular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksand-regular') format('svg');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSans-ExtraBold') format('svg');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold-italic;
    font-style: bold-italic;
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSans-ExtraBoldItalic') format('svg');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular') format('svg');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
.css-test {
  h1:nth-of-type(1), p:nth-of-type(1) { font-family: 'OpenSans-ExtraBold'; }
  h1:nth-of-type(2), p:nth-of-type(2) { font-family: 'OpenSans-Bold'; }
  h1:nth-of-type(3), p:nth-of-type(3) { font-family: 'OpenSans-BoldItalic'; }
  h1:nth-of-type(4), p:nth-of-type(4) { font-family: 'OpenSans-ExtraBoldItalic'; }
  h1:nth-of-type(5), p:nth-of-type(5) { font-family: 'OpenSans-Light'; }
  h1:nth-of-type(6), p:nth-of-type(6) { font-family: 'OpenSans-Regular'; }
  h1:nth-of-type(7), p:nth-of-type(7) { font-family: 'quicksand-regular'; }
  h1:nth-of-type(8), p:nth-of-type(8) { font-family: 'Nunito', sans-serif, 300; }
  h1:nth-of-type(9), p:nth-of-type(9) { font-family: 'Krona One'; }
  h1:nth-of-type(10), p:nth-of-type(10) { font-family: 'Archivo Black'; }
  h1:nth-of-type(11), p:nth-of-type(11) { font-family: 'Bitter'; }
}

/************** Mixins ***************/
.transparent-white-bg {
    background: rgb(255, 255, 255) transparent; 
    background: rgba(255, 255, 255, 0.5);
}
.transparent-black-bg {
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.3);
}
.transparent-blue-bg {
  background: rgba(0, 56, 121, .3);
}
.super-title {
  margin-top: 50px;
  margin-bottom: 25px;
  letter-spacing: 6px;
  font-family: 'Bitter', serif;
}
.tile {
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 5px 5px 5px dimgray;
  -webkit-box-shadow: 5px 5px 5px dimgray;
  -moz-box-shadow: 5px 5px 5px dimgray;
}
.inner-tile {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  //trick to make it square
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  margin-left: 15%;
  // vertically align image
  position: relative;
  img {
    position: absolute;
    max-width: 65%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.button-nice {
  background-color: @color-blue;
  border: none;
  border-radius: 1px;
  color: white;
  padding: 12px 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  &:hover { background-color: @color-light-blue; color: white; }
}
/*
blockquote {
  border: none;
  background-image: url(/img/openquote.png) top left no-repeat;
}
*/
blockquote {
  border-left: 10px solid white;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border: none;
}
blockquote:before {
  color: white;
  content: open-quote;
  font-family: 'Geneva';
  font-size: 6em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  visibility: hidden;
}
/************** Overrides ***************/
html, body {
  height: 100%;
}
body {
  font-size: 13px;
  font-family: 'OpenSans-Regular', sans-serif;
}
a { color: @color-blue; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', sans-serif;  
}
ul {
  list-style: none;
  padding-left: 0px;
}
.btn-primary { .button-nice; }
.dropdown-menu {
  padding: 15px;
}

/************** Navbar ***************/
body {
  padding-top: 70px;
}
#top-navbar {
  background-color: white;
  height: 70px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  font-size: 14px;
  .navbar-brand, .navbar-right, .navbar-right>li>a { 
    height: 70px; 
  }
  .navbar-nav>li>a {
    padding-top: 25px;
    &.active, &:hover {
      .transparent-blue-bg;
    }
  }
  .navbar-brand img {
    height: 100%;
  }  
}

/************** Homepage ***************/
.billboard {
  background: url("../img/plant.jpg") no-repeat bottom center; 
  background-size: cover;
  min-height: 300px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  .headline { 
    font-family: 'Bitter', serif; 
    color: @color-white;
    text-shadow: 2px 2px 2px dimgray;
    letter-spacing: 3px;
    .off-color { color: @color-blue; }
    line-height: 36px;
  }
  .tagline { 
    font-family: 'OpenSans-Regular';
    font-weight: light;
    font-style: light;
    color: white;
    font-size: 16px;
    line-height: 20px;
  }
  a {
    margin-top: 20px;
    .button-nice;
  }
}
#difference {
  padding-top: 25px;
  padding-bottom: 30px;
  .super-title { 
    color: black;
    .accent-color { color: @color-red; } 
  }
  .row.numbered-row {
    margin-bottom: 30px;
    .number-me {
      color: @color-blue;
      font-size: 40px;
      font-family: 'OpenSans-Light', sans-serif;
      border-right: 2px solid @color-blue;
    }
    h4 { 
      margin: 0px;
      font-family: 'OpenSans-Bold', sans-serif;
    }
  }
}
.container-fluid.no-gutters {
  padding: 0px;
  >.row {
    margin: 0px;
    >div { margin: 0px; background-color: green; }
  }
  blockquote { margin-bottom: 0px; }
}
#testimonials {
  background-color: @color-other-blue;
  .left, .right { padding-top: 20px; padding-bottom: 20px; }
  .left { background-color: @color-other-blue; }
  .right { background-color: @color-polo-blue; }
  p { 
    text-align: right;
    margin-top: 30px;
  }
}
.attribution {
  text-align: right;
  padding-right: 30px;
}

/* Services *******************************************************/
#services-overview {
  background-color: @color-other-blue;
  .item-content {
    padding: 0px 15%;
    color: white;
    min-height: 250px;
    display: table;
    >* {
      display: table-cell;
      vertical-align: middle;
      line-height: 1.5em;
    }
  }
}
@media (max-width: 768px) {
  .item-content>* {
    font-size: 18px;
  }
}
#services-nav {
  top: 70px;
  .navbar { min-height: 0px; }
  z-index: 9999;
  * { border-radius: 0px; }
  .navbar {
    background-color: @color-light-polo-blue;
  }
  li:hover>a, li.active>a {
    background-color: @color-polo-blue;
    color: black;
  }
  li:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
}
#services-financial, #services-tax, #services-consulting {
  padding-top: 70px;
  padding-bottom: 30px;
  p {
    //background-color: @color-polo-blue;
    color: @color-blue;
    //padding: 10px;
  }
  .service-item-wrapper {
    border: 1px solid @color-light-polo-blue;
    border-radius: 5px;
    @media (min-width: 768px) {
      display: table;
    }
    div {
      padding: 5px 10px;
      @media (min-width: 768px) {
        display: table-cell;
        vertical-align: middle;
      }
      &:nth-child(1) { 
        background-color: @color-light-polo-blue; 
//        border-top-left-radius: 5px; 
//        border-bottom-left-radius: 5px; 
        //text-align: center; 
        white-space: nowrap;
      }
      &:nth-child(2) { color: dimgray; }
    }
  }
}
#services-tax {
  background-color: @color-polo-blue;
  .super-title {
    color: @color-white;
  }
  .service-item-wrapper div {
    background-color: @color-white;
  }
}
/*
.thumbnail {
  //.transparent-blue-bg;
  padding: 5px 15px;
  border: 2px solid @color-blue;
  .btn {
    position: absolute;
    bottom: 5px;
    right: 30px;
    //color: white;
    border: 1px solid @color-red;
    &:hover {
      background-color: @color-blue;
      color: white;
    }
  }
}
.thumbnail-divider {
  position: relative;
  &:before {
  content: "";
  display: block;  
  border-top: solid 1px black;  
  width: 100%; 
  height: 1px;  
  position: absolute;  
  top: 50%;  
  z-index: 1;  
  }
  span {
    background: white;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }
}
*/
/* Who we are *******************************************************/
#vision {
  padding-bottom: 60px;
  color: dimgray;
}
#team {
  background-color: @color-polo-blue;
  .super-title { color: @color-white; }
  .s-icon {
    max-width: 32px;
    position: absolute;
    top: -5px;
    margin-left: 10px;
  }
  .inner-tile.test img {
    max-width: 85%;
    top: 63%;
  }
}

/* Clients *******************************************************/
#client-logos, #client-testimonials {
  background-color: @color-polo-blue;
  .super-title { color: @color-white; }
}
#client-logos {
  padding-top: 30px;
  padding-bottom: 30px;
}
#client-stories {
  padding-bottom: 30px;
  .inner-tile {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-left: 0%;
  }
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Contact *******************************************************/
#contact-overview, #contact-us {
  background-color: @color-polo-blue;
  .super-title { color: @color-white; }
}
#contact-overview {
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  h3, h4, h4 { line-height: 1.4em; }
}
#contact-offices {
  padding-top: 45px;
  padding-bottom: 45px;
  .office {
    background-color: @color-polo-blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
#contact-us {
  background: url("../img/plant.jpg") no-repeat center center;
  background-size: cover; 
  color: white;
  width: 100%;
  .contact-us-wrap {
    .transparent-black-bg;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  a { color: white; }
  button {
    background-color: white;
    color: @color-blue;
    padding-left: 30px;
    padding-right: 30px;
    &:hover {
      color: white;
      background-color: @color-blue;
    }
  }
  b { font-family: 'OpenSans-Bold', sans-serif; }  
}
#contact-us .form-control {
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 17px;
  margin-bottom: 5px;
  &::-webkit-input-placeholder { color: white; }
  &:-moz-placeholder { color: white; }
  &::-moz-placeholder { color: white; }
  &::-ms-input-placeholder { color: white; }
}

/* Footer *******************************************************/
.footer { 
  background-color: black; 
  padding: 12px 30px;
  .footer-wrap {
    //border-top: 1px solid gray;
    padding-top: 7px;
  }
}
.footer .credit {
  color: gray;
  font-size: 12px;
  a { color: gray; }
}
#body-content-wrapper {
  padding-bottom: 15px;
}
