@color-blue: #003879;
@color-light-blue: #88B3D1;
@color-red: #B31213;
@import url(http://fonts.googleapis.com/css?family=Bitter);
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSans-ExtraBold') format('svg');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold-italic;
    font-style: bold-italic;
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSans-ExtraBoldItalic') format('svg');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
/************** Overrides ***************/
html, body {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: 'OpenSans-Light', sans-serif;
}
a { color: @color-blue; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSans-Bold', sans-serif;  
}
ul {
  list-style: none;
  padding-left: 0px;
}


/************** Navbar ***************/
body {
  padding-top: 70px;
}
#top-navbar {
  background-color: white;
  .transparent-white-bg;
  background: rgba(255, 255, 255, 0.9);
  height: 70px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  font-size: 14px;
  .navbar-brand, .navbar-right, .navbar-right>li>a { 
    height: 70px; 
  }
  .navbar-nav>li>a {
    padding-top: 25px;
    &.active, &:hover {
      .transparent-blue-bg;
    }
  }
  .navbar-brand img {
    height: 100%;
  }  
}

/************** Mixins ***************/
.transparent-white-bg {
    background: rgb(255, 255, 255) transparent; 
    background: rgba(255, 255, 255, 0.5);
}
.transparent-black-bg {
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.3);
}
.transparent-blue-bg {
  background: rgba(0, 56, 121, .3);
}
.super-title {
  margin-top: 25px;
  margin-bottom: 40px;
  letter-spacing: 7px;
  color: @color-blue;
  font-family: 'Bitter', serif;
}
.tile {
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 5px 5px 5px dimgray;
  -webkit-box-shadow: 5px 5px 5px dimgray;
  -moz-box-shadow: 5px 5px 5px dimgray;
}

/************** Homepage ***************/
.billboard {
  background: url("../img/t-25px.jpg") no-repeat center center; 
  background-size: cover;
  min-height: 300px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  .headline { 
    font-family: 'Bitter', serif; 
    color: white;
    letter-spacing: 3px;
    .off-color { color: @color-light-blue; }
    line-height: 36px;
  }
  .tagline { 
    font-family: 'Nunito', sans-serif, 300;
    font-weight: light;
    font-style: light;
    color: white;
    line-height: 28px;
  }
  a {
    margin-top: 20px;
    background-color: @color-blue;
    border: none;
    border-radius: 1px;
    color: white;
    padding: 15px 30px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    &:hover { background-color: @color-light-blue; color: white; }
  }
}
#difference {
  padding-top: 25px;
  padding-bottom: 30px;
  .super-title { 
    color: @color-blue; 
  }
  .row {
    margin-bottom: 30px;
  }
  h3, p { display: inline; }
  .super-point {
    float: right;
    font-family: 'OpenSans-BoldItalic', sans-serif;
    font-size: 20px;
    color: @color-red;
  }
}
.number-me {
  color: white;
  font-size: 40px;
  font-family: 'OpenSans-Bold', sans-serif;
  border-right: 7px solid white;
}
#testimonials {
  .transparent-blue-bg;
}

/* Services *******************************************************/
#services-overview {
  padding-top: 15px;
  padding-bottom: 15px;
  .transparent-blue-bg;
}
#services-nav {
  top: 70px;
  .navbar { min-height: 0px; }
  z-index: 9999;
  * { border-radius: 0px; }
  .navbar {
    .transparent-blue-bg;
  }
  li:hover>a, li.active>a {
    .transparent-white-bg;
    color: black;
  }
  li:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
}
#services-financial, #services-tax, #services-consulting {
  padding-top: 112px;
}

.services1 { 
  padding-bottom: 30px;
  //.transparent-blue-bg;
}
.thumbnail {
  //.transparent-blue-bg;
  padding: 5px 15px;
  border: 2px solid @color-blue;
  .btn {
    position: absolute;
    bottom: 5px;
    right: 30px;
    //color: white;
    border: 1px solid @color-red;
    &:hover {
      background-color: @color-blue;
      color: white;
    }
  }
}
.thumbnail-divider {
  position: relative;
  &:before {
  content: "";
  display: block;  
  border-top: solid 1px black;  
  width: 100%; 
  height: 1px;  
  position: absolute;  
  top: 50%;  
  z-index: 1;  
  }
  span {
    background: white;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }
}
/* Who we are *******************************************************/
#team {
  .transparent-blue-bg;
  .s-icon {
    max-width: 32px;
    position: absolute;
    top: -5px;
    margin-left: 10px;
  }
  .col-sm-4 img {
    .tile
  }
}

/* Clients *******************************************************/
#client-logos, #client-testimonials {
  .transparent-blue-bg;
}
#client-logos img, #client-stories img, #client-testimonials img {
  .tile
}

/* Contact *******************************************************/
#contact-overview, #contact-us {
  .transparent-blue-bg;
}
#contact-offices {
  .office {
    .transparent-blue-bg;
    margin: 5px;
    .tile;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
#contact-us {
  background: url("/img/t-25px.jpg") no-repeat center center;
  background-size: cover; 
  color: white;
  width: 100%;
  .contact-us-wrap {
    .transparent-black-bg;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  a { color: white; }
  button {
    background-color: white;
    color: @color-blue;
    padding-left: 30px;
    padding-right: 30px;
    &:hover {
      color: white;
      background-color: @color-blue;
    }
  }
  b { font-family: 'OpenSans-Bold', sans-serif; }  
}
#contact-us .form-control {
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 17px;
  margin-bottom: 5px;
  &::-webkit-input-placeholder { color: white; }
  &:-moz-placeholder { color: white; }
  &::-moz-placeholder { color: white; }
  &::-ms-input-placeholder { color: white; }
}

/* Footer *******************************************************/
.footer .credit, .footer hr {
  color: gray;
  font-size: 12px;
  a { color: gray; }
}
#body-content-wrapper {
  padding-bottom: 15px;
}
