//Ostrich, oswald, porter-sans-inline-block, quicksand-regular, blackout-midnight
@color-blue: #0166B3;
@color-light-blue: #62a5d9;
@color-dark-blue: #004274;
@color-bright-blue: #3793d9;
@color-dim-blue: #225886;
@color-soft-blue: #C3DEEE;//#D9E9F5; //#99D3FF;

@color-red: #B31213;
@color-white: white;
@color-transparent-white: rgba(255, 255, 255, 0.5);
@color-black: black;
@color-transparent-black: rgba(0, 0, 0, 0.3);
@color-gray: gray;
@color-light-gray: #F1F1F1;
@color-dark-gray: darkgray;
.test-1 { font-size: 20px; background-color: @color-blue; }
.test-2 { font-size: 20px; background-color: @color-light-blue; }
.test-3 { font-size: 20px; background-color: @color-light-blue; }
.test-4 { font-size: 20px; background-color: @color-bright-blue; }
.test-5 { font-size: 20px; background-color: @color-dark-blue; }
.test-6 { font-size: 20px; background-color: @color-red; }

@import url(http://fonts.googleapis.com/css?family=Bitter);
@font-face {
    font-family: 'quicksand-regular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksand-regular') format('svg');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSans-ExtraBold') format('svg');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold-italic;
    font-style: bold-italic;
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSans-ExtraBoldItalic') format('svg');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular') format('svg');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
.css-test {
  h1:nth-of-type(1), p:nth-of-type(1) { font-family: 'OpenSans-ExtraBold'; }
  h1:nth-of-type(2), p:nth-of-type(2) { font-family: 'OpenSans-Bold'; }
  h1:nth-of-type(3), p:nth-of-type(3) { font-family: 'OpenSans-BoldItalic'; }
  h1:nth-of-type(4), p:nth-of-type(4) { font-family: 'OpenSans-ExtraBoldItalic'; }
  h1:nth-of-type(5), p:nth-of-type(5) { font-family: 'OpenSans-Light'; }
  h1:nth-of-type(6), p:nth-of-type(6) { font-family: 'OpenSans-Regular'; }
  h1:nth-of-type(7), p:nth-of-type(7) { font-family: 'quicksand-regular'; }
  h1:nth-of-type(8), p:nth-of-type(8) { font-family: 'Nunito', sans-serif, 300; }
  h1:nth-of-type(9), p:nth-of-type(9) { font-family: 'Krona One'; }
  h1:nth-of-type(10), p:nth-of-type(10) { font-family: 'Archivo Black'; }
  h1:nth-of-type(11), p:nth-of-type(11) { font-family: 'Bitter'; }
}

/************** Mixins ***************/
.transparent-white-bg {
    background: rgb(255, 255, 255) transparent; 
    background: rgba(255, 255, 255, 0.5);
}
.transparent-black-bg {
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.3);
}
.transparent-blue-bg {
  background: rgba(0, 56, 121, .3);
}
.emphasize { color: @color-red; }
.super-title {
  margin-top: 50px;
  margin-bottom: 25px;
  letter-spacing: 6px;
  font-family: 'Bitter', serif;
}
.tile {
  box-shadow: 2px 2px 2px dimgray;
  -webkit-box-shadow: 2px 2px 2px dimgray;
  -moz-box-shadow: 2px 2px 2px dimgray;
}
.inner-tile {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  //trick to make it square
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  margin-left: 15%;
  // vertically align image
  position: relative;
  img {
    position: absolute;
    max-width: 65%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.button-nice {
  background-color: @color-bright-blue;
  border: none;
  border-radius: 1px;
  color: @color-white;
  padding: 12px 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  &:hover { background-color: @color-dark-blue; color: @color-white; }
}
.bullet-square {
  background-color: @color-dark-blue;
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 0 6px 8px -4px black;
  box-shadow: 0 6px 8px -4px black;
}
blockquote {
  border-left: 10px solid white;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border: none;
}
blockquote:before {
  color: @color-white;
  content: open-quote;
  font-family: 'Geneva';
  font-size: 6em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  visibility: hidden;
}
.overview {
  background-color: @color-dim-blue;
  color: @color-light-gray;
  padding: 30px 15px 40px;
  font-size: 17px;
  .headline {
    font-family: 'Bitter', serif; 
    color: @color-white;
    letter-spacing: 3px;
    line-height: 36px;
  }
  .tagline { 
    border-top: 2px solid @color-red;
    padding: 15px 0px;
    width: 90%;
    margin-left: 5%;
    color: white;
    font-size: 18px;
    line-height: 26px;
  }
}

/************** Overrides ***************/
html, body {
  height: 100%;
}
body {
  font-size: 13px;
  font-family: 'OpenSans-Light', sans-serif;
}
a { color: @color-blue; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', sans-serif;  
}
ul {
  list-style: none;
  padding-left: 0px;
}
.btn-primary { .button-nice; }
.dropdown-menu {
  padding: 15px;
  li a:hover { color: @color-white; background-color: @color-dim-blue; }
}

/************** Navbar ***************/
body {
  padding-top: 70px;
}

#top-navbar {

  background-color: white;
  height: 70px;
  -webkit-box-shadow: 0 8px 6px -6px @color-dark-gray;
  box-shadow: 0 8px 6px -6px black;
  font-size: 15px;

  //.main-links, { height: 70px; }
  //.navbar-brand, .main-links>li>a { height: 70px; }
  .navbar-brand { height: 70px; }

  .navbar-brand img {
    height: 100%;
  }
  .navbar-toggle {
    background-color: @color-blue;
    .icon-bar { background-color: @color-white; }
  }
  .navbar-collapse {
    background-color: @color-white;
    //li, a { color: @color-white; }
  }
}
@media (min-width: 769px) {
  .navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
    &.active, &:hover {
      background-color: @color-dim-blue;
      color: @color-white;
    }
  }
}

/************** Homepage ***************/
#billboard .row {
  background: url("../img/tree.jpg") no-repeat bottom center; 
  background-size: cover;
  min-height: 450px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;
  .headline {
    font-family: 'Bitter', serif; 
    color: @color-white;
    letter-spacing: 3px;
    line-height: 36px;
  }
  .tagline { 
    border-top: 2px solid @color-red;
    padding-top: 10px;
    width: 70%;
    margin-left: 15%;
    color: white;
    font-size: 18px;
    line-height: 26px;
  }
  a {
    .button-nice;
    margin-top: 180px;
  }
}
#difference {
  padding-top: 25px;
  padding-bottom: 30px;
  .super-title { 
    color: black;
    margin-bottom: 30px;
    .accent-color { color: @color-red; }
  }
  .row {
    margin-bottom: 15px;
  }
  .difference-point {
    .bullet-square;
    float: right;
  }
  h4 { 
    margin: 0px;
    font-family: 'OpenSans-Bold', sans-serif;
  }
  a { margin-top: 45px; }
}
@media (max-width: 768px) {
  #difference .difference-point { float: none; margin: auto; margin-bottom: 15px; }
}
#testimonials {
  font-size: 14px;
  background-color: @color-dark-blue;
  .left, .right { padding: 45px; }
  .left { background-color: @color-dark-blue; color: @color-light-gray; }
  .right { background-color: @color-light-blue; }
  p { 
    text-align: right;
    margin-top: 30px;
  }
}
.attribution {
  font-size: 13px;
  text-align: right;
  padding-right: 30px;
}

/* Services *******************************************************/

#services-overview { .overview; }
@media (max-width: 768px) {
  .item-content>* { font-size: 18px; }
  #services-nav-wrapper { display: none; }
}
@media (min-width: 769px) {
  #services-overview {
    .left {
      padding-left: 7%;
      border-right: 1px solid @color-transparent-white;
      text-align: justify;
      p { margin-bottom: 0px; }
    }
    .right {
      padding-right: 7%;
      text-align: justify;
      p { margin-bottom: 0px; }
    }
  }  
}
#services-nav {
  top: 70px;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  z-index: 9999;
  * { border-radius: 0px; }
  font-size: 16px;
  .navbar {
    background-color: @color-white;
    color: @color-dark-gray;
    min-height: 0px; 
    margin-bottom: 0px;
  }
  li>a { padding: 13px; }
  li:hover>a, li.active>a {
    background-color: @color-dim-blue;
    color: @color-white;
  }
  li:nth-child(2) {
    border-left: 1px solid @color-dark-gray;
    border-right: 1px solid @color-dark-gray;
  }
}
#services-financial, #services-tax, #services-consulting {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  h2 { color: @color-dim-blue; }
  ul {
    font-size: 14.5px;
    .square-bullet {
      .bullet-square;
        position: absolute;
        left: 20px;
    }
    li { 
      padding-left: 55px;
      min-height: 40px;
      margin-bottom: 20px;
    }
    h4 {
      font-family: 'OpenSans-Regular', sans-serif;
      margin-bottom: 0px;
      }
  }
}
#services-tax {
  background-color: @color-soft-blue;
  h2 { color: @color-dark-blue; }
  ul {
    .square-bullet {
      background-color: @color-white;
      -moz-box-shadow:    inset 0 0 5px #000000;
      -webkit-box-shadow: inset 0 0 5px #000000;
      box-shadow:         inset 0 0 5px #000000;
    }
  }
}

/* Who we are *******************************************************/
#about {
  //div { border: 1px dotted yellow; }
  background-color: @color-dim-blue;
  .super-title {
    color: @color-white;
    margin-bottom: 0px;
    &:after {
      content: "";
      border-bottom: 2px solid @color-red;
      width: 70%;
      margin-left: 15%;
      display: block;
      margin-top: 20px;
    }
  }
}
.carousel {
  margin-top: -15px;
}
.carousel-indicators {
  bottom: 5px;
}
.item-content {
  font-size: 18px;
  padding: 0px 15%;
  color: white;
  min-height: 250px;
  margin-top: -15px;
  display: table;
  >* {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5em;
  }
}
@media (max-width: 768px) {
  .item-content>* {
    font-size: 18px;
  }
}
#vision {
  padding-bottom: 60px;
  //color: @color-dark-gray;
  li {
    margin-bottom: 45px;
    padding-left: 50px;
    position: relative;
  }
  .square-bullet {
    .bullet-square;
    position: absolute;
    left: 0px;
    top: -10px;
  }
}
#team {
  padding-bottom: 45px;
  background-color: @color-soft-blue;
  .super-title { color: @color-white; }
  h4 { margin-bottom: 0px; }
  h5 { margin-top: 0px; }
  .s-icon {
    max-width: 32px;
//    position: absolute;
//    top: 10px;
    margin-left: 10px;
    &:hover { border: 2px solid @color-white; }
  }
  .inner-tile.oded img {
    max-width: 85%;
  }
}

/* Clients *******************************************************/
#client-logos {
  background-color: @color-dim-blue;
  padding-bottom: 30px;
  color: @color-white;
  .super-title:after {
    content: "";
    border-bottom: 2px solid @color-red;
    width: 70%;
    margin-left: 15%;
    display: block;
    margin-top: 20px;
  }
}
#client-testimonials {
  background-color: @color-soft-blue;
  padding-bottom: 45px;  
  .super-title { color: @color-white; }
}
#client-stories {
  padding-bottom: 30px;
  .inner-tile {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-left: 0%;
  }
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Contact *******************************************************/
#contact-overview { 
  .overview;
  .headline, .tagline {
    padding-left: 15px;
    padding-right: 15px;
  }
}
#contact-offices {
  padding-top: 45px;
  padding-bottom: 45px;
  //color: @color-white;
  .office {
    background-color: @color-soft-blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0 8px 6px -6px dimgray;
    box-shadow: 0 8px 6px -6px dimgray;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .address { margin: 10px 0px; }
}
#contact-us {
  background: url("/img/tree.jpg") no-repeat bottom center;
  background-size: cover; 
  color: white;
  width: 100%;
  .contact-us-wrap {
    background-color: @color-transparent-black;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  a { color: white; }
  button {
    background-color: white;
    color: @color-blue;
    padding-left: 30px;
    padding-right: 30px;
    &:hover {
      color: white;
      background-color: @color-blue;
    }
  }
  b { font-family: 'OpenSans-Bold', sans-serif; }  
}
#contact-us .form-control {
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 17px;
  margin-bottom: 5px;
  &::-webkit-input-placeholder { color: white; }
  &:-moz-placeholder { color: white; }
  &::-moz-placeholder { color: white; }
  &::-ms-input-placeholder { color: white; }
}

/* Footer *******************************************************/
.footer { 
  background-color: black; 
  padding: 12px 30px;
  .footer-wrap {
    //border-top: 1px solid gray;
    padding-top: 7px;
  }
}
.footer .credit {
  color: gray;
  font-size: 12px;
  a { color: gray; }
}
#body-content-wrapper {
  padding-bottom: 15px;
}
